body {
    background-color: #0496eb;
    color: #dfffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  button{
      padding: 5px 20px;
      background-color: #529bd6;
      border-style:none ;
  }
  input{
      height: 20px;
  }